#enterEmail {
    width: 100%;
    display: flex;
    flex-direction: column;
}

.box-content {
    padding: 2rem;
    width: 100%;
    height: 60vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.bg-pink {
    background-color: #e93cac;
    font: bold 3vw Georgia, serif;
    flex-direction: column;
}

.email-signup {
    background-color: white;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

#artigoDeMaeLogo {
    max-height: 18rem;
    margin: 2rem;
}

h1 {
    margin: 1rem;
}

p {
    margin: 1rem;
}

#inputEmail {
    width: 90%;
    margin: 2rem 0;
}

input {
    width: 80%;
    padding: 10px 20px;
    border: 1px solid #b7b7b7;
    border-radius: 20px 0px 0px 20px;
    text-overflow: clip;
    background: rgba(252,252,252,1);
    box-shadow: 2px 2px 2px 0 rgba(0,0,0,0.2) inset;
    text-shadow: 1px 1px 0 rgba(255,255,255,0.66) ;
    transition: all 200ms cubic-bezier(0.42, 0, 0.58, 1);

}

button {
    width: 20%;
    padding: 10px 20px;
    border-radius: 0px 20px 20px 0px;
    background-color: #e93cac;
    font: 100 bolder normal;
}

@media only screen and (max-width: 600px) {
    #artigoDeMaeLogo {
        margin: 0.2rem;
    }
    
    .box-content {
        padding: 0.2rem;
    }

    .bg-pink {
        font: bold 4vw Georgia, serif;
    }
}